:root {
    --ff-main: 'Quicksand', sans-serif;
    --tomato-red: rgb(247, 42, 6);
}

body {
    background-image: linear-gradient(250deg, #6B7E8C, #C0C0FF, #D9D9FF, #D9FFD9, #A7FFA7);
    color: var(--tomato-red);
    font-family: var(--ff-main);
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

p {
    font-size: 3rem;
    text-align: center;
}

.photocredit {
    font-size: .5rem;
    text-align: right;
}

.pattern {
    width: 1.5em;
    height: .5em;
    border-radius: 7px;
    background-color: grey;
    margin: 10em;
    /*border: 2px solid var(--tomato-red);*/
}

img {
    /*background-color: #808080;
    background-image: url(/Users/casvalkyriespicer/Documents/GitHub/bored-API/pics/bot.jpeg);*/
    max-width: 40vw;
    max-height: 40vh;
    border: 2px solid darkgrey;
}

button {
    border-radius: 9px;
    border: 2px solid darkslategrey;
    color: darkslategrey;
    background-color: ghostwhite;
    letter-spacing: .2rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: inherit;  
    margin-right: .5em;
    cursor: pointer;
}

.BtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

@media (max-width: 600px) {

/*.BtnContainer {
    align-items: auto;
    justify-content: auto;
    text-align: left;
}*/
   button {
       font-size: 1rem;
       margin-right: 2em;
   }
}